<section class="uyeol">
  <div class="login col-lg-4 m-auto shadow-lg">
      <form>
          
        <div class="mb-3">
          <label for="exampleInputText" class="form-label">Ad Soyad :</label>
          <input type="text" class="form-control" id="exampleInputText" aria-describedby="texthelp">
          <div id="emailHelp" class="form-text">Lütfen Adınızı Giriniz!</div>
        </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-posta :</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Geçerli bir E-posta adresi giriniz.</div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Şifre :</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div id="passwordHelp" class="form-text">Şifreniz en az 8 karakterden oluşmalıdır.</div>
          </div>
          
          <button type="submit" class="btn btn-primary col-lg-12">Üye Ol</button>
      </form>

  </div>

</section>
