<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" routerLink="/">Haber Portalı</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div *ngIf="user$ | async as User;else notUser">

        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/admin">Yönetici Paneli</a>
          <button mat-button (click)="logout()">{{User.displayName}} çıkış yap</button>
        </div>

        
      </div>
      
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/chat">Mesajlar</a>
        
      </div>
    
      <ng-template #notUser>

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/authentication">Üye Ol/Giriş Yap</a>
      </div>
    </ng-template>

    

    </div>
  </nav>